@font-face {
    font-family: 'Tangerine';
    src: url(../assets/fontes/Tangerine-Regular.ttf);
}

*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 227, 227,20%);
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo{
    flex: 1;
    background-color: rgb(191, 241, 248);
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 40px;
    font-family: 'Tangerine';
    font-weight: bold;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;
}

.menu{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #000;
}

nav ul,
nav li{
    display: flex;
    list-style: none;
}

nav a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;   
    font-size: 25px;
}

/**************************Section*****************************/

#banner-pet{
    background-image: url(../assets/images/banner2.jpg);
    height: 400px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    
}



.head-banner{
    flex: 1;
}

.title-top{
    width: 300px;
}

.head-banner h1{
    font-size: 50px;
    
}



.end-banner{
    height: 150px;
    display: flex;
}

.banner-1{
    flex:1;
    padding-left: 10px ;
}

.title-b1 {
    display: flex;
    justify-content: flex-start;
}

.title-b1 h2{
    width: 200px;
}
.resume{
    text-align: left;
}




.banner-2{
    flex:1;
    padding-right: 10px;
}

.title-b2 {
    display: flex;
    justify-content: flex-end;
}

.title-b2 h2{
    width: 200px;
}

.resume-2{
    text-align: right;
}


/****************Section 2*********************************/


#geral-pet{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#geral-pet section{
    flex: 2;
}

.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text{
    padding-left: 10px ;
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    margin: 10px;
}

article .thambnail img{
    width: 100%;
    height: auto;
    
}

article .pet-title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}


article .pet-resume{
    color: #000;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: justify;
}

#geral-pet aside{
    flex: 1;

}


footer{
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
}

.footer-menu{
    display: flex;
}

.fm-1{
    flex: 2;
}

.fm-2{
    flex: 1;
}

.fm-resume{
    color: #FFF;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: justify;
}

.fm-title-text{
    padding-left: 10px ;
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
}

.fm-pet-title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

/******************Responsividade********************/

/********************Header*********************************/
@media(max-width: 710px){

 
    .logo{
        display: none;
    }

    .menu{
        display: none;
    }
    nav ul,
    nav li{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}


@media(max-width:450px){


#banner-pet{
    background-image: url(../assets/images/banner2.jpg);
    height: 300px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    
}

.head-banner{
    flex: 1;
}

.title-top{
    width: 300px;
}

.head-banner h1{
    font-size: 50px;
    
}



.end-banner{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
   
}

.banner-1{
    flex:1;
    padding-left: 10px ;
}

.title-b1 {
    display: flex;
    justify-content: flex-start;
}

.title-b1 h2{
    width: 200px;
    font-size: 15px;
}
.resume{
    text-align: left;
    font-size: 12px;
    
}




.banner-2{
    flex:1;
    padding-right: 10px;
}

.title-b2 {
    display: flex;
    justify-content: flex-end;
}

.title-b2 h2{
    width: 200px;
    font-size: 15px;
}

.resume-2{
    text-align: right;
    font-size: 12px;

}



}


@media(max-width:350px){


    #banner-pet{
        background-image: url(../assets/images/banner2.jpg);
        height: 200px;
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        margin-bottom: 160px;      
    }
    
    .column{
        display: flex;
        flex-direction: column;
    }
    
    .head-banner{
        flex: 1;
    }
    
    .title-top{
        width: 300px;
    }
    
    .head-banner h1{
        font-size: 50px;
        
    }
    
    .end-banner{
        height: 150px;
        display: flex;
        flex-wrap: wrap;
       
    }

    .banner-1{
        flex:1;
        padding-left: 10px ;
    }
    
    .title-b1 {
        display: flex;
        justify-content: flex-start;
    }
    
    .title-b1 h2{
        width: 200px;
        font-size: 15px;
    }
    .resume{
        text-align: left;
        font-size: 12px;
        
    }
    
    
    
    
    .banner-2{
        flex:1;
        padding-right: 10px;
    }
    
    .title-b2 {
        display: flex;
        justify-content: flex-end;
    }
    
    .title-b2 h2{
        width: 200px;
        font-size: 15px;
    }
    
    .resume-2{
        text-align: right;
        font-size: 12px;
    
    }
    
    article{
        flex: 1;
        min-width: 25px;
        margin: 10px;
    }
    
}
    
    