@font-face {
    font-family: 'Tangerine';
    src: url(../assets/fontes/Tangerine-Regular.ttf);
}

*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.logo{
    flex: 1;
    background-color: rgb(191, 241, 248);
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 40px;
    font-family: 'Tangerine';
    font-weight: bold;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;
}

.menu{
    display: flex;
    align-items: center;
    background-color: #000;
    flex: 1;
}

nav ul,
nav li{
    display: flex;
    list-style: none;
}

nav a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;   
    font-size: 25px;
}

/**************************Section*****************************/

#banner-pet{
    background-image: url(../assets/images/banner2.jpg);
    height: 500px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/*****************************************************/
.head-banner{
    flex: 1;
}

.title-top{
    width: 300px;
}

.head-banner h1{
    font-size: 50px;
    
}
/*******************************************************/
.end-banner{
    height: 150px;
    display: flex;
}

.banner-1{
    flex:1;
}

.banner-2{
    flex:1;
}

.end-banner h2{
    padding: 20px;
}
.resume{
    padding: 0px 20px;
    text-align: justify;
}





/******************Responsividade********************/

/********************Header*********************************/
@media(max-width: 710px){

    .container{
        
        flex-direction: column;
    }
    .logo{
        display: none;
    }

    .menu{
        display: none;
    }
    nav ul,
    nav li{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}

/**************************Section**********************************/

